.main {
    max-height: 100vh;
    overflow: hidden;
    background-color: #282828;
    transition: all ease-in-out 1s;
}

.main-div {
    width: 900vw;
    display: flex;
}

.img-holder {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.25s;

    img {
        width: 50vw;
        height: 100vh;
        object-fit: contain;
        filter: blur(5px);
        transition: all ease-in-out 0.25s;
        z-index: 1;
    }

    img:hover {
        filter: blur(0px);
        transform: scale(1.02);
        z-index: 2;
    }

    @media (max-width: 1440px) {
        img {
            /*filter: none;*/
            height: 80vh;
        }
    }

    @media (max-width: 1024px) {
        img{
            filter: none;
            height: 70vh;
            width: 60vw;
        }
    }

    @media (max-width: 768px) {
        img {
            filter: none;
            height: 50vh;
            width: 70vw;
        }
    }
}

.loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 100;

    .svg-holder {
        width: 310px;
        height: 330px;
    }
}



